*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFB84C;
}
.sidebar{
    position: fixed;
    background-color: black;
    width: 50vh;
    height: 100%;
    left: -50vh;
    transition: all 0.5s ease;
}

.sidebar ul li{
    list-style: none;
    border-top: 1px solid purple;
}

.sidebar ul li a{
    text-decoration: none;
}

.sidebar ul li a i{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: purple;
    transition: transform 0.4s ease;
}

.sidebar ul li a i:hover{
   transform: translateX(50%);
}

.sidebar footer a i{
    margin-top: 230px;
    color: purple;
    margin-left: 20px;
    transition: transform 0.4s ease;
}

footer a i:hover{
    transform: translateX(50px);
}


header{
    color: whitesmoke;
    margin-left: 20px;
    font-size: 50px;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#check{
    display: none;
}

label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
}

label #btn{
    left: 50px;
    top: 50px;
    size: 35px;
    color: purple;
    transition: all 0.5s ease;
}

label #cancel{
    z-index: 111;
    left: -250px;
    top: 20px;
    font-size: 35px;
    color: purple;
    transition: all 0.5s ease;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 250px;
}